<h3>Detalles de
   <small><%= @plane.name %></small>
</h3>

<div class="panel">
   <div class="panel-heading">Detalles del avion</div>
   <table id="plane" style="clear: both" class="table table-bordered table-striped">
      <tbody>
         <tr>
            <td width="35%">Nombre</td>
            <td width="65%"><strong><%= @plane.name %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Modelo</td>
            <td width="65%"><strong><%= @plane.model %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Año</td>
            <td width="65%"><strong><%= @plane.year %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Descripcion</td>
            <td width="65%"><strong><%= @plane.description %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Matricula</td>
            <td width="65%"><strong><%= @plane.matricula %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Estado</td>
            <td width="65%"><strong><% if @plane.status %></strong>
                    <span>Activo</span>
                  <% else %>
                    <span>Deshabilitado</span>
                  <% end %>
            </td>
            </td>
         </tr>
      </tbody>
   </table>
</div>

<a href="<%= edit_plane_path(@plane) %>" class='btn btn-success'>Modificar</a>

<%= link_to 'Eliminar', @plane, method: :delete, data: {confirm: "Estas seguro que quiere eliminar?"}, class: 'btn btn-danger' %>
<%= link_to 'Volver', planes_path, class: 'btn btn-default' %>
