<h3>Detalles de
   <small><%= @ticket_member.person_id %></small>
</h3>

<div class="panel">
   <div class="panel-heading">Detalles del talon de cobranza</div>
   <table id="plane" style="clear: both" class="table table-bordered table-striped">
      <tbody>
         <tr>
            <td width="35%">Nombre</td>
            <td width="65%"><strong><%= @ticket_member.person.name %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Apellido</td>
            <td width="65%"><strong><%= @ticket_member.person.surname %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Cedula</td>
            <td width="65%"><strong><%= @ticket_member.person.id_number %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Fecha</td>
            <td width="65%"><strong><%= @ticket_member.date %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Precio</td>
            <td width="65%"><strong><%= @ticket_member.price %></strong>
            </td>
         </tr>
         <tr>
            <td width="35%">Estado</td>
            <td width="65%"><strong><%= @ticket_member.status %></strong>
            </td>
         </tr>
      </tbody>
   </table>
</div>

<a href="<%= edit_ticket_member_path(@ticket_member) %>" class='btn btn-success'>Modificar</a>

<%= link_to 'Eliminar', @ticket_member, method: :delete, data: {confirm: "Estas seguro que quiere eliminar?"}, class: 'btn btn-danger' %>
<%= link_to 'Volver', ticket_members_path, class: 'btn btn-default' %>


