<h3>Crear nuevo usuario
   <small>Llene el formulario con los datos necesarios para crear un nuevo usuario</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
   <div class="panel-body">
      <%= form_for user, html: {class: 'form-horizontal'} do |f| %>
         <div class="form-group">
            <label class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
             <%= f.text_field :email, placeholder: 'Nombre del usuario', class: 'form-control', required:'required' %>
            </div>
         </div>
         <div class="form-group">
            <label class="col-lg-2 control-label">Contraseña</label>
            <div class="col-lg-10">
             <%= f.text_field :encrypted_password, placeholder: 'Contraseña', class: 'form-control', required:'required' %>
            </div>
         </div>
         <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
            <%= f.submit 'Guardar Usuario', class: 'btn btn-success'%>
            <% if user.new_record? %>
              <%= link_to 'Volver', users_path, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'Volver', users_path(user), class: 'btn btn-danger' %>
            <% end %>
          </div>
         </div>
      <% end %>
   </div>
</div>
