<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="<%= image_path('aeroclub.jpg') %>" alt="Image" width="240" height="80" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">INICIA SESIÓN PARA CONTINUAR.</p>
         <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'mb-lg'}) do |f| %>
            <div class="form-group has-feedback">
              <%= f.email_field :email, autofocus: true, placeholder: "Ingrese su email", class: "form-control" %>
            </div>
            <div class="form-group has-feedback">
               <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: "form-control" %>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <%= f.check_box :remember_me %>
                     <span class="fa fa-check"></span>Recuerdame</label>
               </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">Iniciar sesión</button>
         <% end %>
         <p class="pt-lg text-center">Olvido su clave?</p>
         <%= link_to 'Recuperar su Clave', recover_path, class: 'btn btn-block btn-default' %>
         
         <p class="pt-lg text-center">Necesitara registrarse?</p><a href="/users/sign_up" class="btn btn-block btn-default">Registrate ahora</a>
      </div>
   </div>
   <!-- END panel-->
</div>
